.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

data/PlayerStatistics.csv
data/TeamStatistics.csv
data/Games.csv

data/processed_*.csv
data/current_player_teams.csv


results/*.png
results/*.csv
results/*.txt

.DS_Store
.DS_Store?
._*

.vscode/
.idea/
*.swp

.ipynb_checkpoints/

prev_imp/
